<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>React App</title>
  </head>

<nav class="bg-zinc-900">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="#" class="text-yellow-50 hover:bg-gray-700 hover:text-cyan-400 px-3 py-2 rounded-md text-sm font-medium" aria-current="page">about me</a>
  
              <a href="#" class="text-yellow-50 hover:bg-gray-700 hover:text-cyan-400 px-3 py-2 rounded-md text-sm font-medium">portfolio</a>
  
              <a href="#" class="text-yellow-50 hover:bg-gray-700 hover:text-cyan-400 px-3 py-2 rounded-md text-sm font-medium">resume</a>
  
              <a href="#" class="text-yellow-50 hover:bg-gray-700 hover:text-cyan-400 px-3 py-2 rounded-md text-sm font-medium">contact</a>
            </div>
          </div>
      </div>
    </div>
</nav>
  