<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <title>Alyssa Petersen Portfolio</title>
  </head>

  <body class="bg-dark">
    <!-- header image -->
    <div class="container-fluid">
      <img
        class="img-fluid mw-75 mx-auto d-block"
        src="../../assets/portfolio-header.png"
      />
    </div>
    <!-- card container -->
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- Launch card -->
        <div class="col">
          <div class="card border-info">
            <img
              src="../../assets/applicationPhotos/launch.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body bg-dark">
              <h5 class="card-title text-center text-info mx">Launch!</h5>
            </div>
            <div class="card-body text-center bg-dark btn-toolbar">
              <a
                href="https://richielollis.github.io/launch/"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-link"></i
              ></a>
              <a
                href="https://github.com/richielollis"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- hot shots card -->
        <div class="col">
          <div class="card border-info">
            <img
              src="../../assets/applicationPhotos/hot-shots.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body bg-dark">
              <h5 class="card-title text-center text-info mx">Hot Shots</h5>
            </div>
            <div class="card-body text-center bg-dark btn-toolbar">
              <a
                href="https://boiling-caverns-86509.herokuapp.com/"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-link"></i
              ></a>
              <a
                href="https://github.com/APetersen11/Hot-Shots"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- weather app card -->
        <div class="col">
          <div class="card border-info">
            <img
              src="../../assets/applicationPhotos/weather.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body bg-dark">
              <h5 class="card-title text-center text-info mx">
                Weather Wizard
              </h5>
            </div>
            <div class="card-body text-center bg-dark btn-toolbar">
              <a
                href="https://apetersen11.github.io/carmen-sandiego/"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-link"></i
              ></a>
              <a
                href="https://github.com/APetersen11/carmen-sandiego"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- flourish app card -->
        <div class="col">
          <div class="card border-info">
            <img
              src="../../assets/applicationPhotos/flourish.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body bg-dark">
              <h5 class="card-title text-center text-info mx">Flourish and Blotts</h5>
            </div>
            <div class="card-body text-center bg-dark btn-toolbar">
              <a
                href="https://powerful-forest-63607.herokuapp.com"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-link"></i
              ></a>
              <a
                href="https://github.com/APetersen11/Flourish-and-Blotts"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- forget app card -->
        <div class="col">
          <div class="card border-info">
            <img
              src="../../assets/applicationPhotos/forget.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body bg-dark">
              <h5 class="card-title text-center text-info mx">Forget Me Not</h5>
            </div>
            <div class="card-body text-center bg-dark btn-toolbar">
              <a
                href="https://apetersen11.github.io/forget-me-not/
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-link"></i
              ></a>
              <a
                href="https://github.com/APetersen11/forget-me-not"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- remebrall app card -->
        <div class="col">
          <div class="card border-info">
            <img
              src="../../assets/applicationPhotos/remembrall.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body bg-dark">
              <h5 class="card-title text-center text-info mx">Remembrall</h5>
            </div>
            <div class="card-body text-center bg-dark btn-toolbar">
              <a
                href="https://fast-earth-07781.herokuapp.com/ Links to an external site. "
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-link"></i
              ></a>
              <a
                href="https://github.com/APetersen11/Remembrall"
                class="btn btn-outline-info mx-auto position-relative col-4"
                ><i class="bi bi-github"></i
              ></a>
            </div>
          </div>
        </div>

        <!-- container close and html end -->
      </div>
    </div>
  </body>
</html>
